{
  "extends": ["standard", "plugin:jest/recommended"],
  "rules": {
    "semi": "off",
    "space-before-function-paren": "off"
  },
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "requireConfigFile": false
  }
}
